.nav {
	a {
	  color: #5a5a5a;
	  font-size: 11px;
	  font-weight: bold;
	  padding: 0 12px;
	  text-transform: uppercase;
	}

	ul {
		padding-top: 25px;
		margin: 0;
		padding-left: 0;
	}
}

.jumbotron {
	height: 400px;
	background-color: black;
	margin-bottom: 0;
	
}

.navbar-brand {
	color: #5a5a5a;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

.jumbotron {

	& .container {
		position: relative;
		top: 150px;
	}

	h1 {
	  color: #efefef;
	  font-size: 48px;
	  font-weight: bold;
	}

	p {
		color: #F8F8F8;

	}
}

.page-row {
	border-bottom: 1px solid #dbdbdb;
    min-height: 400px;
	height: auto;
}

.about {
	background-color: #efefef;
}

.portfolio {
	background-color: #fff;
	text-align: right;
}

.contact {
	background-color: #fff;
}

.resume {
	text-align: center;	
	background-color: #efefef;
}


.contact-content {
	border-left: 1px solid #dbdbdb;

}

.content {
	position: relative;
	top: 50px;
	margin-bottom: 50px;
	z-index: 1;
}

img {
	z-index: -1;
}

.porfolio img {
	margin-left: -15px;
	
}

@media screen and (max-width: 420px){
	.jumbotron {
		& .container {
			top: 50px;
		}

		h1 {
			font-size: 40px;
		}

	}


}

@media screen and (max-width: 767px){

	.contact-content {
		border-bottom: 1px solid #dbdbdb;
		padding-bottom: 20px;
	}
}

@media screen and (max-width: 992px){
	img {
		opacity: 0.25;
		transition: opacity .25s ease-in-out;
    	-moz-transition: opacity .25s ease-in-out;
    	-webkit-transition: opacity .25s ease-in-out;
	}
}

@media screen and (min-width: 992px){
	img {
		opacity: 0.65;
		transition: opacity .25s ease-in-out;
    	-moz-transition: opacity .25s ease-in-out;
    	-webkit-transition: opacity .25s ease-in-out;
	}
}
