.about {
  background-color: #efefef;
  padding-bottom: 50px;
}

.contact {
  background-color: #fff;
}

.contact-content {
  border-left: 1px solid #dbdbdb;
}

.content {
  position: relative;
  top: 50px;
  margin-bottom: 50px;
  z-index: 1;
}

footer {
  background: black;
  color: white;
  font-weight: bold;
  height: 30px;
}

.footer-content {
  position: relative;
  top: 5px;
}

.footer-content p {
  margin-bottom: 0;
}

img {
  z-index: -1;
}

.jumbotron {
  height: 450px;
  background-color: black;
  margin-bottom: 0;
}

.jumbotron .container {
  position: relative;
  top: 150px;
}

.jumbotron h1 {
  color: #efefef;
  font-size: 48px;
  font-weight: bold;
}

.jumbotron p {
  color: #F8F8F8;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 0 12px;
  text-transform: uppercase;
}

.nav ul {
  padding-top: 25px;
  margin: 0;
  padding-left: 0;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.page-row {
  border-bottom: 1px solid #dbdbdb;
  min-height: 400px;
  height: auto;
}

.portfolio {
  background-color: #fff;
  text-align: right;
}

.porfolio img {
  margin-left: -15px;
}

.resume {
  text-align: center;
  background-color: #efefef;
}

@media screen and (max-width: 540px) {
  .jumbotron .container {
    top: 100px;
  }
  .jumbotron h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .contact-content {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 992px) {
  img {
    opacity: 0.25;
    transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
  }
}

@media screen and (min-width: 992px) {
  img {
    opacity: 0.65;
    transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
  }
}
