.nav {
	background-color: lightgray;
	min-height: 50px;
	height: auto;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 0 12px;
  text-transform: uppercase;
}

.nav ul {
	padding-top: 25px;
	margin: 0;
	padding-left: 0;
}

.nav li {
	display: inline;
}

.jumbotron {
	height: 400px;
	background-color: grey;
	margin-bottom: 0;
}

.jumbotron .container {
	position: relative;
	top: 150px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-weight: bold;

}

.page-row {
	border-bottom: 1px solid #dbdbdb;
    min-height: 400px;
	height: auto;
}

.about {
	background-color: #efefef;
}



.contact {
	background-color: #efefef;
}

.contact-content {
	border-left: 1px solid #dbdbdb;

}

.content {
	position: relative;
	top: 50px;
	margin-bottom: 50px;
}

.portfolio {
	background-color: #fff;
	text-align: right;
}

.portfolio img {
	opacity: 0.50;
	margin-left: -15px;
}